# PlatformIO
.pio/
.vscode/

# Compiled object files
*.o
*.obj
*.elf

# Dependency files
*.d

# Precompiled headers
*.gch
*.pch

# Libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.map
*.log

# OS files
.DS_Store
Thumbs.db
